html,
body {height: 100vh}
body,
ul {
  margin: 0;
  padding: 0
}
li {list-style: none}
a {
  color: black;
  text-decoration: none
}

body {
  font-family: monospace
}
nav {
  top: 0;
  width: 100vh;
  height: 6rem;
  display: flex;
  position: fixed;
  align-items: center;
  background: floralwhite;
  box-shadow: 0 0 .5rem gray;
  justify-content: space-between
}
p {
  font-size: 2rem
}
button {
  z-index: 1;
  padding: 0;
  border: none;
  background: none
}
i {
  width: 2rem;
  height: .2rem;
  display: block;
  margin: .6rem 0;
  background: black;
  border-radius: .3rem
}
i:nth-child(1) {
  width: 1rem;
  margin: 0 auto;
}
i:nth-child(3) {
  width: 1rem;
  margin: 0 auto;
}
ul {
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: floralwhite;
  box-shadow: 0 0 .5rem gray
}
li {
  box-shadow: 0 .1rem gray, inset 0 .1rem gray;
}
a {
  cursor: none;
  display: block;
  position: relative
}
a::before {
  right: 0;
  width: 0;
  content: "";
  height: 100%;
  display: block;
  background: teal;
  transition: width 1s
}
a:hover {
  color: white
}
a:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}
