html,
body {height: 100vh}
body,
ul {
  margin: 0;
  padding: 0
}
li {list-style: none}
a {
  color: black;
  text-decoration: none
}

nav {
  top: 0;
  width: 100vh;
  height: 6rem;
  display: flex;
  position: fixed;
  overflow: hidden;
  align-items: center;
  background: floralwhite;
  box-shadow: 0 0 .5rem gray;
  justify-content: space-between
}
p {
  font-size: 2rem
}
button {
  z-index: 1;
  padding: 0;
  border: none;
  background: none
}
i {
  width: 2rem;
  height: .2rem;
  display: block;
  margin: .6rem 0;
  background: black
}
i:nth-child(1) {
  width: 1rem;
  margin: 0 auto;
}
i:nth-child(3) {
  width: 1rem;
  margin: 0 auto;
}
ul {
  top: 0;
  width: 0;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 0 .5rem gray
}
